<?xml version="1.0"?>
<configuration>

	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<defaultDocument enabled="true">
			<files>
				<clear /> 
				<add value="index.asp" />
				<add value="index.php" />
				<add value="default.php" />
			</files>
		</defaultDocument>

		<security>
			<requestFiltering>
				<requestLimits maxQueryString="200000"/>
			</requestFiltering>
		</security>
		
		<rewrite>
			<rules>
				<!-- <rule name="Canonical Host Name" stopProcessing="true">
				  <match url="(.*)" />
				  <conditions>
					<add input="{HTTP_HOST}" negate="true" pattern="^www\.chestees\.com$" />
				  </conditions>
				  <action type="Redirect" url="http://www.chestees.com/{R:1}" redirectType="Permanent" />
				</rule> -->
			
				<rule name="Remove index.asp from url" stopProcessing="true">
		   			<match url="(.*)index.asp" />
		    		<action type="Redirect" url="{R:1}" redirectType="Permanent" />
				</rule>
				
				<rule name="T-Shirt Rewrite">
		   			<match url="funny-t-shirts/(.*)/(.*)/" />
		    		<action type="Rewrite" url="products.asp?ProductID={R:1}" />
				</rule>
				
				<rule name="CLICK ON T-SHIRT">
		   			<match url="t-shirts/detail/(.*)/(.*)/" />
		    		<action type="Rewrite" url="detail.asp?i={R:1}&amp;title={R:2}" />
				</rule>
				
				<rule name="T-Shirt Style Rewrite">
		   			<match url="style/(.*)/(.*)/(.*)/" />
		    		<action type="Rewrite" url="products.asp?ProductID={R:1}&amp;SelProductStyleID={R:2}" />
				</rule>
				
				<rule name="Snorg Tees Rewrite">
		   			<match url="snorg-tees/" />
		    		<action type="Rewrite" url="snorg_tees.asp" />
				</rule>
				
				<rule name="Busted Tees Rewrite">
		   			<match url="busted-tees/" />
		    		<action type="Rewrite" url="busted_tees.asp" />
				</rule>
				
				<rule name="Deez Tees Rewrite">
		   			<match url="deez-teez/" />
		    		<action type="Rewrite" url="deez_teez.asp" />
				</rule>
				
				<rule name="UneeTees Rewrite">
		   			<match url="uneetee/" />
		    		<action type="Rewrite" url="uneetee.asp" />
				</rule>
				
				<rule name="About Us Rewrite">
		   			<match url="about-chestees/" />
		    		<action type="Rewrite" url="aboutUs.asp" />
				</rule>
				
				<rule name="Contact Rewrite">
		   			<match url="contact-chestees/" />
		    		<action type="Rewrite" url="contact.asp" />
				</rule>
				
				<rule name="FAQ Rewrite">
		   			<match url="faq-chestees/" />
		    		<action type="Rewrite" url="faq.asp" />
				</rule>
				
				<rule name="Privacy Rewrite">
		   			<match url="privacy/" />
		    		<action type="Rewrite" url="privacy.asp" />
				</rule>
				
				<rule name="Enable Cookies Rewrite">
		   			<match url="enable-cookies/" />
		    		<action type="Rewrite" url="enableCookies.asp" />
				</rule>
				
				<rule name="Cart Rewrite">
		   			<match url="cart/" />
		    		<action type="Rewrite" url="cart.asp" />
				</rule>
				
				<rule name="Checkout Rewrite">
		   			<match url="checkout/" />
		    		<action type="Rewrite" url="checkout.asp" />
				</rule>
				
				<rule name="Confirm Rewrite">
		   			<match url="confirm/" />
		    		<action type="Rewrite" url="confirm.asp" />
				</rule>
				
				<rule name="Thanks Rewrite">
		   			<match url="thank-you/" />
		    		<action type="Rewrite" url="thank-you.asp" />
				</rule>
				
				<rule name="Sizing Rewrite">
		   			<match url="sizing-info/" />
		    		<action type="Rewrite" url="sizing.asp" />
				</rule>
				
				<rule name="Threadless Giveaway">
		   			<match url="threadless_giveaway/" />
		    		<action type="Rewrite" url="threadless_giveaway.asp" />
				</rule>
				
			</rules>
		</rewrite>
		
		
	</system.webServer>	

</configuration>
